/app/bootstrap.php
/dev
/.htaccess.sample
.idea/
app/code/community/Cm/
app/code/community/Phoenix/
app/code/core/
app/design/*
!app/design/
app/design/adminhtml/*
!app/design/adminhtml/
app/design/adminhtml/default/*
!app/design/adminhtml/default/
app/design/adminhtml/default/default/*
!app/design/adminhtml/default/default/
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/gigya_admin.xml
app/design/frontend/base/*
!app/design/frontend/base/
app/design/frontend/base/default/*
!app/design/frontend/base/default/
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/aagigya.xml
!app/design/frontend/base/default/template/
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/gigya/*
app/design/frontend/default/default/
app/design/frontend/default/blank/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/install/
app/etc/local.xml
app/etc/modules/
!app/etc/modules/gigya.xml
app/etc/config.xml
app/locale
app/etc/local.xml.additional
app/etc/local.xml.template
app/locale/en_US/
app/Mage.php
cron.php
cron.sh
downloader/
errors/
favicon.ico
includes/
index.php
index.php.sample
install.php
js/blank.html
js/extjs/
js/lib/
js/prototype/
js/spacer.gif
js/varien/
js/calendar/
js/flash/
js/index.php
js/mage/
js/scriptaculous/
js/tiny_mce/
lib/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
!LICENSE.GPL
media/downloadable/
media/import/
nbproject/
pear/
php.ini.sample
pkginfo/
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
skin/adminhtml/default/default/
skin/*
!skin/frontend
skin/frontend/*
!skin/frontend/base
skin/frontend/base/*
!skin/frontend/base/default
skin/frontend/base/default/*
!skin/frontend/base/default/css
skin/frontend/base/default/css/*
!skin/frontend/base/default/css/gigya.css
!skin/frontend/base/default/images
skin/frontend/base/default/images/*
!skin/frontend/base/default/images/gigya
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/install/
!skin/adminhtml/default/default/gigya/social/*
var/
pear
get.php
js/jscolor/
mage
magento-utils/
media/
php_errors.log
.htaccess
RELEASE_NOTES.txt
api.php
app/.htaccess
