<?xml version="1.0"?>
<config>
    <modules>
        <Gigya_Social>
            <version>3.1.2</version>
        </Gigya_Social>
    </modules>
    <frontend>
        <events>
            <customer_register_success>
                <observers>
                    <gigya_registration_observer>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>notify_registration</method>
                    </gigya_registration_observer>
                </observers>
            </customer_register_success>
            <customer_delete_after>
                <observers>
                    <gigya_customer_delete>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>notify_delete</method>
                    </gigya_customer_delete>
                </observers>
            </customer_delete_after>
            <customer_login>
                <observers>
                    <gigya_login>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>notify_login</method>
                    </gigya_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <gigya_logout>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>notify_logout</method>
                    </gigya_logout>
                </observers>
            </customer_logout>
            <checkout_cart_product_add_after>
                <observers>
                    <gigya_share_action>
                        <class>Gigya_Social_Model_Cart_Observer</class>
                        <method>addShareUi</method>
                    </gigya_share_action>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <gigya_share_action>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Cart_Observer</class>
                        <method>addOrderShareUi</method>
                    </gigya_share_action>
                    <gigya_counters>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Cart_Observer</class>
                        <method>incCounters</method>
                    </gigya_counters>
                    <gigya_gmNotify>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Cart_Observer</class>
                        <method>notifyGmAction</method>
                    </gigya_gmNotify>
                    <gigya_reviewRemainder>
                        <type>singleton</type>
                        <class>Gigya_Social_Model_Cart_Observer</class>
                        <method>syncPurchaseToGigya</method>
                    </gigya_reviewRemainder>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <routers>
            <gigyalogin>
                <use>standard</use>
                <args>
                    <module>Gigya_Social</module>
                    <frontName>gigyalogin</frontName>
                </args>
            </gigyalogin>
            <reviews>
                <use>standard</use>
                <args>
                    <module>Gigya_Social</module>
                    <frontName>gigyareviews</frontName>
                </args>
            </reviews>
            <accountEdit>
                <use>standard</use>
                <args>
                    <module>Gigya_Social</module>
                    <frontName>gigyaAccount</frontName>
                </args>
            </accountEdit>
        </routers>
        <layout>
            <updates>
                <Gigya_Social>
                    <file>aagigya.xml</file> <!-- so we would be loaded last -->
                </Gigya_Social>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <Gigya_Social>
                <class>Gigya_Social_Helper</class>
            </Gigya_Social>
        </helpers>
        <blocks>
            <Gigya_Social>
                <class>Gigya_Social_Block</class>
            </Gigya_Social>
            <page>
                <rewrite>
<!--                    <html_head>Gigya_Social_Block_Html_Head</html_head>-->
                    <template_links>Gigya_Social_Block_Template_Links</template_links>
                </rewrite>
            </page>
            <!--        <customer>
                        <rewrite>
                            <account_dashboard_info>Gigya_Social_Block_Template_Info</account_dashboard_info>
                        </rewrite>
                    </customer>-->
        </blocks>
        <events>
        </events>
        <models>
            <Gigya_Social>
                <class>Gigya_Social_Model</class>
                <resourceModel>Gigya_Social_mysql4</resourceModel>
            </Gigya_Social>
        </models>
        <resources>
            <Gigya_Social_setup>
                <setup>
                    <module>Gigya_Social</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Gigya_Social_setup>
            <Gigya_Social_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Gigya_Social_write>
            <Gigya_Social_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Gigya_Social_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <customer_delete_after>
                <observers>
                    <gigya_customer_delete>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>notify_delete</method>
                    </gigya_customer_delete>
                </observers>
            </customer_delete_after>
            <adminhtml_customer_save_after>
                <observers>
                    <update_gigya>
                        <class>Gigya_Social_Model_Customer_Observer</class>
                        <method>syncToGigya</method>
                    </update_gigya>
                </observers>
            </adminhtml_customer_save_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gigya_global>
                                            <title>Gigya global config</title>
                                        </gigya_global>
                                        <gigya_login>
                                            <title>Gigya Social login</title>
                                        </gigya_login>
                                        <gigya_share>
                                            <title>Gigya Share configuration</title>
                                        </gigya_share>
                                        <gigya_reactions>
                                            <title>Gigya Reactions configuration</title>
                                        </gigya_reactions>
                                        <gigya_comments>
                                            <title>Gigya Comments configuration</title>
                                        </gigya_comments>
                                        <gigya_activityfeed>
                                            <title>Gigya Comments configuration</title>
                                        </gigya_activityfeed>
                                        <gigya_gamification>
                                            <title>Gigya Comments configuration</title>
                                        </gigya_gamification>
                                        <gigya_r_and_r>
                                            <title>Gigya Rating &amp; Reviews configuration</title>
                                        </gigya_r_and_r>
                                        <gigya_followbar>
                                            <title>Gigya Followbar configuration</title>
                                        </gigya_followbar>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <Gigya_Social>
                    <file>gigya_admin.xml</file>
                </Gigya_Social>
            </updates>
        </layout>
    </adminhtml>
    <!--default values from admin sections-->
    <default>
        <gigya_global>
            <gigya_global_conf>
                <enable>1</enable>
                <dataCenter>us1.gigya.com</dataCenter>
                <providers>*</providers>
                <laguages>en</laguages>
                <useUserKey>1</useUserKey>
                <encryptKeys>1</encryptKeys>
                <loginBehavior>loginExistingUser</loginBehavior>
                <google_sa>0</google_sa>
                <debug_log>0</debug_log>
            </gigya_global_conf>
        </gigya_global>
        <gigya_login>
            <gigya_user_management>
                <login_modes>social</login_modes>
            </gigya_user_management>
            <gigya_login_conf>
                <buttonsStyle>standart</buttonsStyle>
                <showTermsLink>0</showTermsLink>
                <containerID>gigyaLogin</containerID>
                <width>210</width>
                <height>110</height>
            </gigya_login_conf>
            <gigya_link_accounts>
                <enable>0</enable>
                <containerID>gigyAaddConnections</containerID>
                <width>210</width>
                <height>110</height>
                <showTermsLink>0</showTermsLink>
                <showEditLink>1</showEditLink>
            </gigya_link_accounts>
            <gigya_raas_conf>
                <WebScreen>Default-RegistrationLogin</WebScreen>
                <MobileScreen>DefaultMobile-RegistrationLogin</MobileScreen>
                <LoginScreen>gigya-login-screen</LoginScreen>
                <RegisterScreen>gigya-register-screen</RegisterScreen>
                <ProfileWebScreen>Default-ProfileUpdate</ProfileWebScreen>
                <ProfileMobileScreen>DefaultMobile-ProfileUpdate</ProfileMobileScreen>
                <override_links>1</override_links>
            </gigya_raas_conf>
        </gigya_login>
        <gigya_share>
            <gigya_sharebar>
                <enable_cart>1</enable_cart>
                <enable_order>1</enable_order>
                <containerID>gigyaSharebar</containerID>
                <shareButtons>share,facebook-like,twitter-tweet</shareButtons>
                <layout>horizontal</layout>
                <showCounts>right</showCounts>
                <imageBehavior>defualt</imageBehavior>
            </gigya_sharebar>
            <gigya_share_action>
                <enable>1</enable>
                <enable_cart>1</enable_cart>
                <enable_order>1</enable_order>
                <showAlwaysShare>hide</showAlwaysShare>
                <showNeverShare>1</showNeverShare>
                <enabledProviders>facebook,twitter,linkedin,myspace,yahoo</enabledProviders>
                <moreEnabledProviders>*</moreEnabledProviders>
                <scope>both</scope>
            </gigya_share_action>
        </gigya_share>
        <gigya_reactions>
            <gigya_reactions_conf>
                <enable>1</enable>
                <containerID>gigyaReactions</containerID>
                <layout>horizontal</layout>
                <showCounts>right</showCounts>
                <countType>number</countType>
                <enabledProviders>facebook,twitter,linkedin,myspace,yahoo</enabledProviders>
                <multipleReactions>1</multipleReactions>
                <imageBehavior>defualt</imageBehavior>
                <scope>both</scope>
            </gigya_reactions_conf>
        </gigya_reactions>
        <gigya_coments>
            <gigya_comments_conf>
                <enable>0</enable>
                <containerID>gigyaComments</containerID>
                <scope>both</scope>
            </gigya_comments_conf>
        </gigya_coments>
        <gigya_activityfeed>
            <gigya_activityfeed_conf>
                <enable>1</enable>
                <containerID>gigyaActivityfeed</containerID>
                <tabOrder>everyone,friends,me</tabOrder>
                <privacy>private</privacy>
                <siteName>My Store</siteName>
                <width>195</width>
                <height>250</height>
            </gigya_activityfeed_conf>
        </gigya_activityfeed>
        <gigya_gamification>
            <gigya_gamification_conf>
                <enable>1</enable>
                <notifications>0</notifications>
                <period>7days</period>
                <totalCount>12</totalCount>
                <purchaseAction>0</purchaseAction>
            </gigya_gamification_conf>
        </gigya_gamification>
        <gigya_r_and_r>
            <gigya_r_and_r_conf>
                <enable>1</enable>
                <containerID>customer-reviews</containerID>
                <scope>both</scope>
            </gigya_r_and_r_conf>
        </gigya_r_and_r>
        <gigya_followbar>
            <gigya_followbar_conf>
                <enable>0</enable>
                <containerID>gigyaFollowbar</containerID>
                <layout>horizontal</layout>
                <iconSize>32</iconSize>
                <buttons>
                    [
                    {
                    "provider": "facebook",
                    "actionURL": "https://www.facebook.com/gigya",
                    "action": "dialog"
                    },
                    {
                    "provider": "twitter",
                    "followUsers": "gigya, gigyaDev",
                    "action": "dialog"
                    },
                    {
                    "provider": "googleplus",
                    "actionURL": "https://plus.google.com/107788669599113247501/posts",
                    "action": "window"
                    },
                    {
                    "provider": "linkedin",
                    "actionURL": "http://www.linkedin.com/company/gigya",
                    "action": "window"
                    },
                    {
                    "provider": "rss",
                    "actionURL": "http://blog.gigya.com/feed/",
                    "action": "window"
                    },
                    {
                    "provider": "email",
                    "confirmationText":"Thank you for following us",
                    "action": "dialog"
                    }
                    ]
                </buttons>
            </gigya_followbar_conf>
        </gigya_followbar>
    </default>
</config>
