<?xml version="1.0"?>
<config>
  <modules>
    <Gigya_Social>
      <version>0.1.0</version>
    </Gigya_Social>
  </modules>
  <frontend>
    <events>
      <customer_register_success>
        <observers>
          <gigya_registration_observer>
            <type>singleton</type>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_registration</method>
          </gigya_registration_observer>
        </observers>
      </customer_register_success>
      <customer_delete_after>
        <observers>
          <gigya_customer_delete>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_delete</method>
          </gigya_customer_delete>
        </observers>
      </customer_delete_after>
      <customer_login>
        <observers>
          <gigya_login>
            <type>singleton</type>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_login</method>
          </gigya_login>
        </observers>
      </customer_login>
      <customer_logout>
        <observers>
          <gigya_logout>
            <type>singleton</type>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_logout</method>
          </gigya_logout>
        </observers>
      </customer_logout>
      <checkout_cart_product_add_after>
        <observers>
          <gigya_share_action>
            <class>Gigya_Social_Model_Cart_Observer</class>
            <method>addShareUi</method>
          </gigya_share_action>
        </observers>
      </checkout_cart_product_add_after>
    </events>
    <routers>
      <gigyalogin>
        <use>standard</use>
        <args>
          <module>Gigya_Social</module>
          <frontName>gigyalogin</frontName>
        </args>
      </gigyalogin>
    </routers>
    <layout>
      <updates>
        <Gigya_Social>
          <file>gigya.xml</file>
        </Gigya_Social>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <Gigya_Social>
        <class>Gigya_Social_Helper</class>
      </Gigya_Social>
    </helpers>
    <blocks>
      <Gigya_Social>
        <class>Gigya_Social_Block</class>
      </Gigya_Social>
      <page>
        <rewrite>
          <html_head>Gigya_Social_Block_Html_Head</html_head>
        </rewrite>
      </page>
    </blocks>
    <events>
    </events>
  </global>
  <!--
    -<admin>
    -  <routers>
    -    <gigya>
    -      <use>admin</use>
    -      <args>
    -        <module>Gigya_Social</module>
    -        <frontName>Gigya_Social</frontName>
    -      </args>
    -    </gigya>
    -  </routers>
    -</admin>
  -->
  <adminhtml>
    <events>
      <customer_delete_after>
        <observers>
          <gigya_customer_delete>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_delete</method>
          </gigya_customer_delete>
        </observers>
      </customer_delete_after>
    </events>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <gigya_global>
                      <title>Gigya global config</title>
                    </gigya_global>
                    <gigya_login>
                      <title>Gigya Social login</title>
                    </gigya_login>
                    <gigya_share>
                      <title>Gigya Share configuration</title>
                    </gigya_share>
                    <gigya_reactions>
                      <title>Gigya Reactions configuration</title>
                    </gigya_reactions>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <!--default values from admin sections-->
  <default>
    <gigya_global>
      <gigya_global_conf>
        <enable>0</enable>
        <providers>*</providers>
        <laguages>en</laguages>
        <google_sa>0</google_sa>
      </gigya_global_conf>
    </gigya_global>
    <gigya_login>
      <gigya_login_conf>
        <enable>0</enable>
        <buttonStyle>standart</buttonStyle>
        <showTermsLink>0</showTermsLink>
        <loginBehavior>loginExistingUser</loginBehavior>
        <containerID>gigyaLogin</containerID>
        <width>210</width>
        <height>110</height>
      </gigya_login_conf>
      <gigya_link_accounts>
        <enable>0</enable>
        <containerID>gigyaLinkAccount</containerID>
        <width>210</width>
        <height>110</height>
      </gigya_link_accounts>
    </gigya_login>
    <gigya_share>
      <gigya_sharebar>
        <enable>0</enable>
        <containerID>gigyaSharebar</containerID>
        <shareButtons>share, email, pinterest, twitter-tweet, google-plusone, facebook-like</shareButtons>
        <layout>horizontal</layout>
        <showCounts>right</showCounts>
        <imageBehavior>defualt</imageBehavior>
      </gigya_sharebar>
      <gigya_share_action>
        <enable>0</enable>
        <showAlwaysShare>hide</showAlwaysShare>
        <showNeverShare>1</showNeverShare>
      </gigya_share_action>
    </gigya_share>
    <gigya_reactions>
      <gigya_reactions_conf>
        <enable>0</enable>
        <containerID>gigyaReactions</containerID>
        <barID>reactions-bar</barID>
        <layout>horizontal</layout>
        <showCounts>right</showCounts>
        <imageBehavior>defualt</imageBehavior>
      </gigya_reactions_conf>
    </gigya_reactions>
  </default>
</config>
