<config>
  <modules>
    <Gigya_Social>
      <version>0.1.0</version>
    </Gigya_Social>
  </modules>
  <frontend>
    <events>
      <customer_register_success>
        <observers>
          <gigya_registration_observer>
            <type>singleton</type>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_registration</method>
          </gigya_registration_observer>
        </observers>
      </customer_register_success>
      <customer_delete_after>
        <observers>
          <gigya_customer_delete>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_delete</method>
          </gigya_customer_delete>
        </observers>
      </customer_delete_after>
      <customer_login>
        <observers>
          <gigya_login>
            <type>singleton</type>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_login</method>
          </gigya_login>
        </observers>
      </customer_login>
      <customer_logout>
        <observers>
          <gigya_logout>
            <type>singleton</type>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_logout</method>
          </gigya_logout>
        </observers>
      </customer_logout>
    </events>
    <routers>
      <gigyalogin>
        <use>standard</use>
        <args>
          <module>Gigya_Social</module>
          <frontName>gigyalogin</frontName>
        </args>
      </gigyalogin>
    </routers>
    <layout>
      <updates>
        <Gigya_Social>
          <file>gigya.xml</file>
        </Gigya_Social>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <Gigya_Social>
        <class>Gigya_Social_Helper</class>
      </Gigya_Social>
    </helpers>
    <blocks>
      <Gigya_Social>
        <class>Gigya_Social_Block</class>
      </Gigya_Social>
      <page>
        <rewrite>
           <html_head>Gigya_Social_Block_Html_Head</html_head>
        </rewrite>
      </page>
    </blocks>
  </global>
  <!--
    -<admin>
    -  <routers>
    -    <gigya>
    -      <use>admin</use>
    -      <args>
    -        <module>Gigya_Social</module>
    -        <frontName>Gigya_Social</frontName>
    -      </args>
    -    </gigya>
    -  </routers>
    -</admin>
  -->
  <adminhtml>
    <events>
      <customer_delete_after>
        <observers>
          <gigya_customer_delete>
            <class>Gigya_Social_Model_Customer_Observer</class>
            <method>notify_delete</method>
          </gigya_customer_delete>
        </observers>
      </customer_delete_after>
    </events>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <gigya_global>
                      <title>Gigya global config</title>
                    </gigya_global>
                    <gigya_login>
                      <title>Gigya Social login</title>
                    </gigya_login>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <!--default values from admin sections-->
  <default>
    <gigya_global>
      <gigya_global_conf>
        <enable>0</enable>
        <providers>*</providers>
        <laguages>en</laguages>
        <google_sa>0</google_sa>
      </gigya_global_conf>
    </gigya_global>
    <gigya_login>
      <gigya_login_conf>
        <enable>0</enable>
        <buttonStyle>standart</buttonStyle>
        <showTerms>0</showTerms>
        <loginBehavior>loginExistingUser</loginBehavior>
        <loginContainerId>gigyaLogin</loginContainerId>
        <loginWidth>210</loginWidth>
        <loginHeight>110</loginHeight>
      </gigya_login_conf>
    </gigya_login>
  </default>
</config>
